<link rel="stylesheet" href="/css/summerProduct.css">
<h2 class="text-center mt-2">product Collection</h2>
<div>
<div class="ex container-fluid">
<% for (i in product){ %>
  <form action="/addToCart/<%= product[i].price %>" style="margin: 2%;" class="card" method="POST">
    <img src="<%= product[i].file %>" alt="file" class="card-img2">
    <div class="card-img">
      <h5 class="card-title"><%= product[i].name %> </h5>
      <p class="card-text"> <%= product[i].productDesc %> </p>
      <p class="card-text"> <%= product[i].price %> </p>
      <button class="btn btn-primary">Add To Cart</button>
  </div>
</form>
<% } %>  
</div>
</div>